<div class="pagination-container">
  <div class="pagination-buttons">

    <% const currentPage = paginatedResults.page %>
    <% const lastPage = paginatedResults.pages %>
    <% const previousPage = paginatedResults.previous %>
    <% const nextPage = paginatedResults.next %>
    <% const usersToShow = paginatedResults.limit %>

    <% const buttonsToShow = 3 %>

    <% if (previousPage) { %>
      <a href="?page=<%= previousPage %>&limit=<%= usersToShow %>"
         class="pagination-button">
      <
      </a>
    <% } %>

    <% if (currentPage !== 1) { %>
      <a href="?page=1&limit=<%= usersToShow %>" class="pagination-button">1</a>
    <% } %>

    <% if (currentPage > (buttonsToShow * 2)) { %>
      <span>...</span>
    <% } %>

    <% for (let i = 1; i <= currentPage + buttonsToShow; i++) { -%>
      <% if (currentPage == i) { %>
        <a href="#" class="pagination-button disabled"><%= i %></a>
      <% }  %>

      <% if ((paginatedResults.lowerRange.includes(i) ||
              paginatedResults.upperRange.includes(i)) &&
              i !== 1 && i <= lastPage) { %>
        <a href="?page=<%= i %>&limit=<%= usersToShow %>"
          class="pagination-button">
          <%= i %>
        </a>
      <% } %>
    <% } %>

    <% if (currentPage !== lastPage) { %>
      <span>...</span>
      <a href="?page=<%= lastPage %>&limit=<%= usersToShow %>"
         class="pagination-button"><%= lastPage %></a>
    <% } %>

    <% if (nextPage) { %>
      <a href="?page=<%= nextPage %>&limit=<%= usersToShow %>"
        class="pagination-button">
        >
      </a>
    <% } %>
  </div>
</div>
