<%- include('../partials/head') -%>
<%- include('../partials/banner') -%>
<div class="users-main">
  <h1>Slingair Flyers</h1>

  <ol class="users">
    <% paginatedResults.results.forEach(user => { %>
      <li>
        <p><%= `${user.firstName} ${user.lastName}` %></p>
        <p><%= user.email %></p>
        <a href=<%= `/flight-confirmed/${user.id}` %>><%= user.flight %></a>
      </li>
      <% }) %>
    </ol>
</div>
<%- include('../partials/pagination') -%>
<%- include('../partials/footer') -%>
